$breakpoints:(
    'mobile':768px,
    'tablet':992px
);
$index-photographer-name-color:$light-brown;

$header-link-color:$main-red;

$common-margin: (
    'mobile' : 20px,
    'tablet' : 50px,
    'desktop' : 100px
);
$btn-height:70px;
$btn-width:170px;
$btn-padding:20px;

$contact-modal-padding:35px;
$contact-modal-close-img-heigt:30px;
$contact-modal-img-right:15px;

$photographer-thumb-imgfull-margin-bottom:25px;
$photographer-thumb-imgfull-nb-elements-on-one-line:3;
$photographer-lightbox-modal-control-arrow-margin:(
    'desktop':40px,
    'mobile':5px
);
$photographer-lightbox-modal-top-margin:30px;
